body{
    background-color: rgb(213, 163, 241);
}
#container {
    display:flex ;
}
.cartao {
    margin: 1rem 1rem;
}
.cartao {
    margin: 1rem 1rem;
    background-color: rgb(76, 199, 199);
    height: 20rem;